.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
}

.main {
  width: 100%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.containerItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-height: 600px;
}

.listData {
  padding: 0;
  margin: 0;
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.itemListData {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 16px 0px;
  background-color: #eaeaea;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.certificate {
  width: 800px;
  height: 600px;
  padding: 20px;
  text-align: center;
  border: 10px solid #787878;
}

.certificateInner {
  width: 750px;
  height: 550px;
  padding: 20px;
  text-align: center;
  border: 5px solid #787878;
}

.certificateTitle {
  font-size: 50px;
  font-weight: bold;
}
